/*
* @title: Main CSS file for the miventio projects
* @author: Paul Opitz
* @date: 2022-09-01
* 
*/

/******************************* BASICS ********************************/

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Baskerville;
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}


@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(fonts/icons.ttf);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: bottom;
}


:root {
    --unit: 30px;
    --corner: 4px;
    --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --shadow-light: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px, rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
    --white: #FFF;
    --grey: #f6f6f6;
    --black: #000;
    --color-1: #37c0ae;
    /* --color-1-light: #f0f8f7; */
    --color-1-light: #f3f7f6;
    --color-1-superlight: #f0f8f7a7;
    --color-1-dark: #1c766a;
    --color-2: #c75399;
    
}

* {
    margin:0;
    box-sizing: border-box;
}

body {
    margin:0;
    font-size: 14px;
    font-family: "Roboto";
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}



/******************************* BUTTONS & LINKS ********************************/

button {
    text-transform: uppercase;
    padding:0.6rem 1.7rem;
    color: var(--white);
    border: none;
    border-radius: 0.3rem;
    transition: 0.2s;
    font-size: 1.2rem;
    box-shadow: var(--shadow-light);
    background: linear-gradient(132deg, var(--color-1) 0%, var(--color-2) 100%);
    background-position: 0%;
    background-size: 200%;
}
button:hover {
    cursor: pointer;
    background-position: 100%;
    box-shadow: var(--shadow); 
}


a {
    color: var(--color-1);
    transition: 0.5s;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: var(--color-1-dark);
}


/******************************* LAYOUT ********************************/

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.md-12 {
    width: calc( 100% );
    padding: 5px;
}

.md-10 {
    width: calc( (100% / 12) * 10);
    padding: 5px;
}

.md-8 {
    width: calc( (100% / 12) * 8);
    padding: 5px;
}

.md-6 {
    width: calc( 100% / 2);
    padding: 5px;
}

.md-5 {
    width: calc( (100% / 12) * 5);
    padding: 5px;
}

.md-4 {
    width: calc( 100% / 3);
    padding: 5px;
}

.md-3 {
    width: calc( (100% / 12) * 3);
    padding: 5px;
}

.md-2 {
    width: calc( 100% / 6);
    padding: 5px;
}

.md-1 {
    width: calc( 100% / 12);
    padding: 5px;
}

/******************************* FORM STYLING ********************************/


form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form input[type="color"], form input[type="file"]  {
    border-radius: 0.2rem;
    border:none;
    display: block;
    width: 100%;
    outline: none;
    background-color: white;
    margin-top: 4px;
}

form input[type="radio"] {
    display: inline-block;
    margin:4px;
}

form select, form select:active, form select:focus {
    background-color: var(--white);
    margin-top: 4px;
    border-radius: 0.2rem;
    border:none;
    width: 100%;
    appearance: none;
}

form option {
    border:none;
    width: 100%;
    appearance: none;
}

form fieldset {
    border: none;
    margin:0;
    padding:0;
}


/******* Miventio ********/

form.miventio {
    max-width: 600px;
}
form.miventio input {
    padding:0.9rem 1rem;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-light); 
}

form.miventio label {
    display: block;
}

form.miventio select, form.miventio select:active, form.miventio select:focus {
    box-shadow: var(--shadow-light); 

}

form.miventio .submit {
    margin-top:2rem;;
}

/******* Registration ********/

form.register input {
    border: 1px solid black;
    padding:0.6rem 0.8rem;
}

form.register button {
    background: #2062a8;
    padding: 5px 12px;
    font-size: 14px;
    margin:0 5px;
}


form.register select, form.register select:active, form.register select:focus {
    border: 1px solid black;
    padding:0.6rem 0.8rem;
}





/****************** legacy ****************/

form .form-block, form .block, fieldset {
    margin-top:1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}








form input[type="radio"] {
    box-shadow: none;
}

form .radio label, form .radio input {
    display: inline-block;
    width: auto;
}

form .radio input {
    margin: 7px;
}


form input[type="color"] {
    height:80px;
}


form input:focus {
    box-shadow: var(--shadow); 
}




/******* Registration ********/

.register {
    width: 100%;
}

.register input {
   
}



/************************* TABLE Styling ************************/
table {
    width: 100%;
    text-align: left;
}
table th {
    font-weight: bold;
}
table td, table th {
    padding: 10px;
    
}
table tr:nth-child(even) {
    background-color: var(--color-1-light);
}
table tr:nth-child(odd) {
    background-color: var(--white);
}
table span {
    border-radius: 10px;
    padding: 3px 10px;
}