/*
* @title: Main CSS file for the miventio projects
* @author: Paul Opitz
* @date: 2022-09-01
* 
*/

/******************************* BASICS ********************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* @font-face {
	font-family: Roboto;
	src: url(fonts/Roboto/Roboto-Light.ttf);
} */

@font-face {
	font-family: Baskerville;
	src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(fonts/icons.ttf);
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: bottom;
}

:root {
	--unit: 30px;
	--corner: 4px;
	--shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	--shadow-light: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px, rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
	--white: #fff;
	--grey: #f6f6f6;
	--black: #000;
	--darkgrey: #96a8a6;
	--grey: #e1edec;
	--lightgrey: #f0f5f4;
	--color-1: #37c0ae;
	--color-1-light: #b0e2d5;
	--color-1-dark: #17665b;
	--color-2: #c75399;
	--color-2-light: #deacca;
	--color-2-dark: #81255c;
	--color-warning: rgb(255, 163, 163);
	--color-confirmation: rgb(207, 238, 213);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 14px;
	font-family: 'Roboto';
	/* background-color: var(--lightgrey); */
}

h1 {
	font-size: 3rem;
	font-family: 'Roboto Slab';
	font-weight: 300;
}

h2 {
	font-size: 2rem;
	font-weight: 100;
	color: var(--darkgrey);
}

.logo {
	background: linear-gradient(132deg, var(--color-1) 0%, var(--color-2) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: 500;
	font-size: 4rem;
	font-family: 'Roboto';
}

.logo-white {
	font-weight: 900;
	font-size: 4rem;
	color: white;
}

/******************************* UTILITY ********************************/

.padding {
	padding: var(--unit);
}

.margin {
	margin: var(--unit);
}

/******************************* BUTTONS & LINKS ********************************/

button,
.button {
	text-transform: uppercase;
	padding: 0.6rem 1.0rem;
	color: var(--white);
	border: none;
	border-radius: var(--corner);
	transition: 0.2s;
	font-size: 1.2rem;
	background: linear-gradient(132deg, var(--color-1) 0%, var(--color-2) 100%);
	background-position: 0%;
	background-size: 200%;
	display: flex;
	align-items: center;
}
button span:nth-child(2) {
	margin-left: 10px;
}

button:hover,
.button:hover,
.button:active {
	cursor: pointer;
	background-position: 100%;
	box-shadow: var(--shadow-light);
}

button.secondary, .button.secondary {
	background: var(--white);
	color: var(--black);
}
button.secondary span, .button.secondary span {
	margin-right: 10px;
	display: inline-block;
}

button.secondary:hover, .button.secondary:hover {
	cursor: pointer;
	box-shadow: var(--shadow-light);
}

button.icon, .button.icon {
	background: var(--grey);
	color: var(--color-1-dark);
	padding: 8px 12px;
	border-radius: var(--corner);
}
button.icon:hover, .button.icon:hover {
	cursor: pointer;
	background: var(--grey);
	box-shadow: var(--shadow-light);
}

button.mini-icon, .button.mini-icon {
	background: var(--lightgrey);
	color: var(--color-1-dark);
	padding: 5px 10px;
	border-radius: var(--corner);
}
button.mini-icon:hover, .button.mini-icon:hover {
	cursor: pointer;
	background: var(--lightgrey);
	box-shadow: var(--shadow-light);
}
.mini-icon span {
	font-size: 16px !important;
}




a {
	color: var(--color-1);
	transition: 0.2s;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: var(--color-1-dark);
}

.close,
.delete {
	display: block;
	padding: 10px;
	border-radius: var(--corner);
	background-color: var(--grey);
	cursor: pointer;
}
.close:hover,
.delete:hover {
	box-shadow: var(--shadow-light);
}

/******************************* LAYOUT ********************************/

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.md-12 {
	width: calc(100%);
}

.md-10 {
	width: calc((100% / 12) * 10);
}

.md-8 {
	width: calc((100% / 12) * 8);
}

.md-7 {
	width: calc((100% / 12) * 7);
}

.md-6 {
	width: calc(100% / 2);
}

.md-5 {
	width: calc((100% / 12) * 5);
}

.md-4 {
	width: calc((100% / 12) * 4);
}

.md-3 {
	width: calc((100% / 12) * 3);
}

.md-2 {
	width: calc(100% / 6);
}

.md-1 {
	width: calc(100% / 12);
}

.right {
	display: flex;
	justify-content: flex-end;
}

/******************************* FORM ********************************/

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='time'],
form input[type='number'],
form input[type='date'],
form input[type='color'],
form input[type='url'],
form textarea,
form input[type='file'] {
	border-radius: 0;
	border: none;
	display: block;
	outline: none;
	background-color: white;
	margin: 4px 0;
	width: calc(100% - 8px);
}

form input[type='radio'] {
	display: inline-block;
	margin: 4px;
}

form select,
form select:active,
form select:focus {
	background-color: var(--white);
	border-radius: 0.2rem;
	border: none;
	margin: 4px;
	width: calc(100% - 8px);
	appearance: none;
	outline: none;
}

form option {
	border: none;
	width: 100%;
	appearance: none;
}

form input[type='checkbox'] {
	height: 50%;
}

form input[type='radio'] ~ label,
form input[type='checkbox'] ~ label {
	display: inline-block;
	width: auto;
}

form label {
	display: block;
	margin-top: 14px;
	font-size: 1rem;
	width: calc(100% - 8px);
}

form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

form input:focus {
	box-shadow: var(--shadow-light);
}



form .message-box {
	padding: 20px;
	margin-top:20px;
	display: block;
}

form .error {
	padding: 20px;
	display: lock;
	border: 1px solid red;
	background-color: lightpink;
	margin-top: 20px;
}

form .confirmation {
	border: 1px solid rgb(16, 84, 45);
	background-color: rgb(227, 252, 233);
}

form hr {
	margin-top: 15px;
	margin-bottom: 10px;
}

/******* Miventio ********/

form.miventio {
	/* max-width: 800px; */
}
form.miventio input, form.miventio textarea {
	padding: 0.9rem 1rem;
	border-radius: var(--corner);
}

form.miventio input:active {
	box-shadow: var(--shadow-light);
}

form.miventio input[type='checkbox']:active, input[type='checkbox']:focus {
	box-shadow: none;
}

form.miventio label {
	/* color: var(--darkgrey); */
	display: block;
}

form.miventio select {
	padding: 0.9rem 1rem;
	border-radius: var(--corner);
}

form.miventio select:active,
form.miventio select:focus {
	box-shadow: var(--shadow-light);
	border: none;
	appearance: none;
}

form.miventio input[type='color'] {
	height: 44px;
	padding: 0.3rem;
}

form.miventio .submit {
	margin-top: 2rem;
}

form.miventio hr {
	background-color: var(--color-1-dark);
	height: 1px;
	border:none;
}

/******* Registration ********/

form.register input {
	border: 1px solid black;
	padding: 0.6rem 0.8rem;
}

form.register button {
	font-size: 14px;
	margin: 0 5px;
	background: #e6e6e6;
	color: #262626;
	border: 1px solid #262626;
	border-radius: 2px;
}

form.register select,
form.register select:active,
form.register select:focus {
	border: 1px solid black;
	padding: 0.6rem 0.8rem;
}

/******* Registration ********/

.register {
	width: 100%;
}

.register input {
}

/************************* TABLE Styling ************************/
table {
	width: 100%;
	text-align: left;
	border: none;
	border-collapse: separate;
	border-spacing: 0 2px;
}

table th {
	font-weight: bold;
	padding: 10px 15px;
	font-size: 1rem;
	font-weight: 500;
}
table td {
	font-weight: 300;
	padding: 10px 15px;
	margin-bottom: 5px;
}

table tbody tr {
	cursor: pointer;
}
table tbody tr:hover {
	/* box-shadow: var(--shadow-light); */
	/* background-color: rgba(255,255,255, 0.9); */
}

table tr:nth-child(even) {
	background-color: var(--white);
	border-radius: var(--corner);
}
table tr:nth-child(odd) {
	background-color: var(--white);
	border-radius: var(--corner);
}

